html {
  background: black;
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: black;
  min-height: 100vh;
}

canvas {
  width: 100vw;
  height: 100vh;
  background: transparent !important;
  display: block;
}
